{% paginate collection.products by settings.products-per-page %}

{% capture collection_url %}{% if collection.url.size == 0 %}/collections/all{% else %}{{ collection.url }}{% endif %}{% endcapture %}

<section class="content">
  
  {% comment %}
  <div class="page-title">
    <h1 class="label">{{ collection.title }}</h1>

    {% if collection.all_tags.size > 0 %}
    <div class="tags-wrap preload">
      <select class="coll-filter styled-select tags-dropdown"
        {% if collection.handle %}
          data-window-href='/collections/{{ collection.handle }}';
        {% elsif collection.products.first.type == collection.title %}
          data-window-href='{{ collection.title | url_for_type }}';
        {% elsif collection.products.first.vendor == collection.title %}
          data-window-href='{{ collection.title | url_for_vendor }}';
        {% endif %} data-current-href="{{ current_tags }}">
        <option value="">{{ 'collections.collection.all_items' | t }}</option>
        {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
            <option value="{{ tag | handle }}" selected>{{ tag }}</option>
          {% else %}
            <option value="{{ tag | handle }}">{{ tag }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <ul class="tags">
        {% for tag in collection.all_tags %}
         <li class="tag show">{{ tag | link_to_tag: tag }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  {% if collection.description.size > 0 or settings.collection-top-pagination %}
  {% if collection.description.size > 0 or paginate.previous or paginate.next%}
  <div class="collection-header clearfix">

    <div class="description rte">{{ collection.description }}</div>

    {% if settings.collection-top-pagination %}
    {% if paginate.previous or paginate.next %}
    {% include 'pagination' %}
    {% endif %}
    {% endif %}
  </div>
  {% endif %}
  {% endif %}
  
  {% endcomment %}
  
  {% if collection.products.size == 0 %}
  	<div class="frock_product_filter">
      <ul class="filter_list">
        {% for filter in linklists.product-filter.links %}
          <li><a href="{{ filter.url }}">{{ filter.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <p class="empty">{{ 'collections.collection.no_products' | t }}</p>
  {% else %}
  
    <div class="frock_product_filter">
      <ul class="filter_list">
        {% for filter in linklists.product-filter.links %}
          <li><a href="{{ filter.url }}">{{ filter.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <ul class="product-list {{ settings.products-per-row }}">
    {% for product in collection.products%}{% include 'product-item' %}{% endfor %}
    </ul>

    {% if collection.description.size > 0 or settings.collection-top-pagination %}
    {% if collection.description.size > 0 or paginate.previous or paginate.next%}
    <div class="collection-header clearfix">

      <div class="description rte">{{ collection.description }}</div>

      {% if settings.collection-top-pagination %}
      {% if paginate.previous or paginate.next %}
      {% include 'pagination' %}
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
  
  {% endif %}

</section>
{% endpaginate %}
