{% if settings.show-slideshow %}
<section class="slideshow {% if settings.slideshow-match-width %}{% endif %} clearfix">
  {% for i in (1..5) %}

    {% capture enabled %}show-slide-{{i}}{% endcapture %}
    {% capture invert %}invert-controls-slide-{{i}}{% endcapture %}
    {% capture content %}show-slide-content-{{i}}{% endcapture %}
    {% capture position %}slide-position-{{i}}{% endcapture %}
    {% capture title %}slide-title-{{i}}{% endcapture %}
    {% capture tagline %}slide-tagline-{{i}}{% endcapture %}
    {% capture button %}slide-button-{{i}}{% endcapture %}
    {% capture link %}slide-link-{{i}}{% endcapture %}

    {% if settings[enabled] %}
      <div class="slide {% if settings[invert] %}invert{% endif %}">
        <div class="image-wrap">
          <span class="prev"><span class="icon">[</span></span>
          <span class="next"><span class="icon">]</span></span>
          <ul class="jump-to-slide"></ul>

          {% if settings[content] == false and settings[link] != blank %}
            <a href="{{ settings[link] }}">
              <img alt="{{ settings[title] }}" src="{{ 'slide-image-' | append: i | append: '.jpg' | asset_url }}">
            </a>
          {% else %}
            <img alt="{{ settings[title] }}" src="{{ 'slide-image-' | append: i | append: '.jpg' | asset_url }}">
          {% endif %}
        </div>

        {% if settings[content] %}
          <div class="content-outer-wrap">
            <a class="mobile-link" href="{{ settings[link] }}"></a>
            <div class="content-inner-wrap">
              <div class="content {{ settings[position] }}">
                {% if settings[title] != blank %}
                  <h2 class="title">{{ settings[title] }}</h2>
                {% endif %}
                {% if settings[tagline] != blank %}
                  <h3 class="tagline">{{ settings[tagline] }}</h3>
                {% endif %}
                {% if settings[button] != blank and settings[link] != blank %}
                  <a class="call-to-action" href="{{ settings[link] }}">
                    {{ settings[button] }} <span class="arrow">></span>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}

      </div>
    {% endif %}

  {% endfor %}
</section>
{% endif %}
	
  <!-- Email Subscribe Container -->

  {% include 'mailchimp_form' %}

  {% if settings.home-sections-order != blank %}
    {% assign sections = settings.home-sections-order | split: "-" %}

    {% for section in sections %}
      {% case section %}
        {% when 'A' %}
          {% include 'home-welcome-message' %}
        {% when 'B' %}
          {% include 'home-featured-collections' %}
        {% when 'C' %}
          {% include 'home-featured-products' %}
        {% when 'D' %}
          {% include 'home-featured-blog' %}
        {% when 'E' %}
          {% include 'home-instagram-widget' %}
        {% when 'F' %}
          {% include 'home-twitter-widget' %}
        {% when 'G' %}
          {% include 'home-as-seen-on' %}
      {% endcase %}
    {% endfor %}

  {% elsif settings.home-sections-order == blank and settings.show-slideshow != true %}
    {% include 'home-onboarding' %}
  {% endif %}

