<section class="content">

  <div class="text-content-wrap clearfix">
    <h1 class="frock_faq_header">Press</h1>
    <div class="rte clearfix text-content press_page">
      {{ page.content }}
    </div>
    <h1 class="frock_faq_header">Video</h1>
    <div class="rte clearfix text-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F_pfFuDkj0Q" frameborder="0" allowfullscreen=""></iframe>
    </div>
    
    {% if settings.display-pages-sidebar %}
    <div class="sidebar rte">
      {% if settings.pages-sidebar-title %}<h2 class="title">{{ settings.pages-sidebar-title }}</h2>{% endif %}
      {% if settings.pages-sidebar-content.size == 0 %}
        {% capture theme_settings_link %}
          <a href="/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a>
        {% endcapture %}
        {{ 'onboarding.pages_sidebar_text_html' | t: theme_settings_link: theme_settings_link }}
      {% else %}
        {{ settings.pages-sidebar-content }}
      {% endif %}
    </div>
    {% endif %}

  </div>

</section>