<section class="content">

  <div class="text-content-wrap clearfix">
    <div class="rte clearfix text-content">
      
      <!-- General -->

      <h1 class="frock_faq_header">General</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What Is The Frock?</h2>
          <div class="frock_answer">
              <p>A: The Frock NYC is a Brooklyn-based fashion studio created by Australian sisters Simi Polonsky and Chaya Chanin. The Frock NYC offers a high-fashion approach to easy dressing, while simultaneously catering to the sartorial needs of women across NYC and beyond.</p>
              <p>The Frock NYC™ is comprised of the following:</p>
              <p><strong>The Frock Basics</strong> – Original garment design</p>
              <p><strong>The Frock Swap</strong> – Unique pop-up consignment store</p>
              <p><strong>The Frock Style</strong> – Personal shopping and styling services</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What Is The Basics?</h2>
          <div class="frock_answer">
              <p>A: The Frock Basics is a collection of modest essentials fit for multiple seasons and occasions. Alone, our basics will set you apart for their simplicity and edge, yet when layered can be transformed into something new.</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What Is The Frock Style?</h2>
          <div class="frock_answer">
              <p>A: The Frock Style, is an aesthetic consulting studio offering personal styling, wardrobe editing & custom couture design services. To meet with Simi and Chaya, please email us at sisters@thefrockNYC.com</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What Is The Frock Swap?</h2>
          <div class="frock_answer">
              <p>A: The Frock Swap is a Designer Consignment Pop-Up-Shop that offers a highly curated selection of pre-loved, designer women’s wear. {Coming soon: Shop Chaya & Simi’s pic of the week from the consignment collection}</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: Where are the frock basics made?</h2>
          <div class="frock_answer">
              <p>A: We are proud to say that we support the vibrant fashion sector in New York City where are collection is manufactured.</p>
          </div>
      </div>

      <!-- Shopping -->

      <h1 class="frock_faq_header">Shopping</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: Where are you located?</h2>
          <div class="frock_answer">
              <p>A: All the magic happens at The Frock Studio which is based in the heart of Brooklyn, NYC.</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: How can I shop at the Frock?</h2>
          <div class="frock_answer">
              <p>A: We look forward to having you shop with us online, right here at www.thefrockNYC.com</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: How can I shop in person?</h2>
          <div class="frock_answer">
              <p>A: Since The Frock NYC does not have a physical retail shop, you can catch us in person at our next Pop-Up Shop where you can try on the Basics and Consignment Collection, in a relaxed, fun atmosphere!!</p>
              <p>For details of our next event, simply sign up for our emails and follow us on instagram.</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What if I can't make it in person to shop?</h2>
          <div class="frock_answer">
              <p>A: That’s okay! We ship worldwide and have a great return policy! So, simply shop online and if for some reason it isnt quite right, you can always return it!</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: The item has sold out. Will you be getting more in and when?</h2>
          <div class="frock_answer">
              <p>A: Yes! We always try to re-stock our popular styles to give you the best possible selection of timeless and functional garments for the season.</p>
              <p>Please be patient, we are working hard to increase our inventory so please check back on our website and follow us on Instagram for important updates and a sneak-peak of our ever expanding collection.</p>
          </div>
      </div>

      <!-- Sizing -->

      <h1 class="frock_faq_header">Sizing</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: How do I find out more about the sizing?</h2>
          <div class="frock_answer">
              <p>A: We know how important it is for a garment to fit properly, so we take time to explain a garment’s fit, style and material on each item’s page. If you do have any other specific questions, please email us to sisters@thefrockNYC.com and we will be happy to advise you.</p>
          </div>
      </div>

      <!-- Returns & Orders -->

      <h1 class="frock_faq_header">Returns & Orders</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: What is your return policy?</h2>
          <div class="frock_answer">
              <p>A: We hope you will love everything that you order from us, but don’t worry if something isn’t quite right, you have 3 weeks from the purchase date to return the item for a full refund, less the shipping cost. Please try on items with care, as refunds can only be provided if they are returned:</p>
              <ul>
                  <li>clean (no deodorant, perfume or makeup stains)</li>
                  <li>unworn</li>
                  <li>unmarked</li>
                  <li>unwashed</li>
                  <li>unscented</li>
                  <li>no rips or tears, open seams</li>
                  <li>and have all their tags on</li>
                  <li>All saddle belt orders are final sale</li>
              </ul>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: How do I make a return?</h2>
          <div class="frock_answer">
              <p>Make sure the items you return meet the criteria listed above.</p>

              <p>Pack the items in the original packaging (or an alternative secure package) along with the packing slip.</p>

              <p>Clearly mark the items you wish to return on the packing slip</p>

              <p>Ship the return package to:</p>

              <p>The Frock Studio 502 New York Ave, #4B Brooklyn NY 11225</p>
          </div>
      </div>
      <div class="frock_faq">
          <h2 class="frock_question">Q: When can I expect my refund?</h2>
          <div class="frock_answer">
              <p>A: Once your package reaches us, please allow up to 7-10 business days (depending on peak times) for your return to be processed, approved and payment refunded.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: How will I be refunded?</h2>
          <div class="frock_answer">
              <p>A: You will receive your refund by the same method you used to pay.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: What if it is past the time to return?</h2>
          <div class="frock_answer">
              <p>A: Unfortunately if it’s past the 3 weeks of receiving your Frock Basic, it is too late to make a return. If there were any shipping delays along the way, please email us to sisters@thefrockNYC.com so we can accommodate you.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: What if I received a damaged item?</h2>
          <div class="frock_answer">
              <p>A: We are so sorry about that!</p>

              <p>In order to receive a new item in place of the damaged item, we must receive an email from the cutomer within 3 days of receiveing the damaged item. We will send you a Return Shipping Label and ship out your new item as soon as soon as we receive the damaged item. The damaged item must be returned within 3 weeks of purchase date.</p>

              <p>Pack the damaged item in the original packaging (or an alternative secure package) along with the packing slip.</p>

              <p>Print return label and ship back to:</p>

              <p>The Frock Studio 502 New York Ave, #4B Brooklyn NY 11225</p>

              <p>A: If that same item is no longer available we will happily send you another item in exchange (price differences will be calculated) or we will refund you the full amount.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: What if my order is missing an item?</h2>
          <div class="frock_answer">
              <p>A: We sincerely apologize for the inconvenience! Please email us to sisters@thefrockNYC.com and we ship your new item as soon as possible.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: What if the wrong item or size was sent to me?</h2>
          <div class="frock_answer">
              <p>A: We are so sorry for the inconvenience!</p>

              <p>Please email us to sisters@thefrockNYC.com so we can send you a Return Shipping Label and ship out your new item as soon as possible.</p>

              <p>Pack the damaged item in the original packaging (or an alternative secure package) along with the packing slip.</p>

              <p>Print return label and ship back to:</p>

              <p>The Frock Studio 502 New York Ave, #4B Brooklyn NY 11225</p>

              <p>If that same item is no longer available we will happily send you another item in exchange (price differences will be calculated) or we will refund you the full amount.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: Do you offer exchanges?</h2>
          <div class="frock_answer">
              <p>A: Being that we do not have a physical store, we do not offer exchanges at this time. There is always the option to return and re-order a different item. To secure the size and color that you want, we suggest you re-order the item that you are after even before you get the refund! (Don’t worry, if the item you are returning is in the original sellable condition - we will refund you.)</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: Do you provide a shipping label for a return shipment?</h2>
          <div class="frock_answer">
              <p>A: At this time we do not provide return shipping labels, the customer pays for return shipping.</p>
          </div>
      </div>

      <!-- Shipping -->

      <h1 class="frock_faq_header">Shipping</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: How long will it take to recieve my order?</h2>
          <div class="frock_answer">
              <p>A: Please allow 5 -10 business days for delivery within the US and approximately 14 - 21 days for international delivery.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: Do you provide tracking for my order?</h2>
          <div class="frock_answer">
              <p>A: Yes absolutely. An email with your tracking number will be sent to you once your order is ready to ship.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: How much is shipping in the U.S.?</h2>
          <div class="frock_answer">
              <p>A: All US orders ship for $5</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: Do you ship internationally?</h2>
          <div class="frock_answer">
              <p>A: Yes of course! We ship all over the world!</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: How much is international shipping?</h2>
          <div class="frock_answer">
              <p>A: International shipping varies depending on Country, if you don’t see your country listed at checkout, please email us to sisters@thefrocknyc.com and we will be happy to add yours.</p>

              <p>PLEASE NOTE FOR ALL INTERNATIONAL ORDERS: All taxes, duties and customs fees associated with international shipping are the responsibility of the buyer and are not reflected in the shipping charges.</p>

              <p>Canada & Mexico: $15 Israel: $18 Europe, Asia, South Africa & South America: $15 Australia: $18</p>
          </div>
      </div>

      <!-- Careers & Partnerships -->

      <h1 class="frock_faq_header">Careers & Partnerships</h1>
      <div class="frock_faq">
          <h2 class="frock_question">Q: I want to work/intern for the frock. How do I apply?</h2>
          <div class="frock_answer">
              <p>A: We are always looking for bright, enthusiastic and hardworking talent to be a part of The Frock Team. Please email us with your resume to sisters@thefrockNYC.com or think of another creative way to grab our attention.</p>
          </div>
      </div>

      <div class="frock_faq">
          <h2 class="frock_question">Q: Blog for the frock?</h2>
          <div class="frock_answer">
              <p>A: Yes! It’s always great to hear from people who are inspired by the pieces we create. If you would like more information about who we are and what we value please email us at sisters@thefrockNYC.com</p>
          </div>
      </div>
      
    </div>

  </div>

</section>