<section class="content">

  <div class="text-content-wrap clearfix">
    <div class="rte clearfix text-content">
      <h1 style="text-align: center; text-transform: uppercase; line-height: 40px;"><strong>The frock nyc</strong> has been popping up all over nyc<br /> and beyond since 2010!</h1>
	  <h1 style="text-align: center; text-transform: uppercase; line-height: 40px;">To be notified directly into your inbox of our next big event subscribe to our email below or simply follow us on <a href="https://www.instagram.com/thefrocknyc/" target="_blank">instagram</a>.</h1>
      {% include 'madmimi_form' %}
      {{ page.content }}
    </div>
  </div>

</section>