<section class="content">

  <div class="mobile-product-title">
    <h2 class="title">{{ product.title }}</h2>

    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
      <p class="price sale"><span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span> <span class="money">{{ product.selected_or_first_available_variant.price | money }}</span></p>
    {% else %}
      <p class="price"><span class="money">{{ product.selected_or_first_available_variant.price | money }}</span></p>
    {% endif %}

    <div class="share-buttons">
      <div class="share-wrap twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ product.title }}:" data-via="{{ settings.twitter-username }}">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div><div class="share-wrap google">
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div><div class="share-wrap pinterest">
        <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
      </div><div class="share-wrap facebook">
        <div class="fb-like" data-href="{{ shop.url }}{{ product.url }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
      </div>
    </div>
  </div>

  <section id="product-area" class="clearfix" itemscope itemtype="http://schema.org/Product" data-product-id="{{ product.id }}">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="brand" content="{{ product.vendor }}" />
    <meta itemprop="name" content="{{ product.title }}">

    <div class="showcase">
      <div class="container {% if product.images.size == 1 or settings.product-thumb-orientation == 'below' %}wide{% endif %}">
        <div class="product-main-image wrap">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img itemprop="image" alt="{{ featured_image.alt }}" src="{{ featured_image | img_url: 'original' }}">
          {% if settings.product-image-borders %}<span class="overlay"></span>{% endif %}

          {% if settings.product-image-zoom %}
            <div class="product-zoom"></div>
          {% endif %}
        </div>
      </div>

      {% if product.images.size > 1 %}
      <div class="pager {% if settings.product-thumb-orientation == 'below' %}below-main-image{% endif %}">
        <div class="inner">
          {% for image in product.images %}
            <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
              <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
              <span class="overlay"></span>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if settings.display-fullsize-product-viewer %}
      <div class="notes">
        <a href="#" class="toggle-fullview"><span class="icon">l</span>{{ 'products.product.view_fullsize_image' | t }}</a>
      </div>
      {% endif %}
      {% if settings.display-product-email-link %}
      <div class="notes">
        <a href="mailto:{{ shop.email }}?Subject={{ product.title | escape }}" class="email-us"><span class="icon">j</span>{{ 'products.product.email_us' | t }}</a>
      </div>
      {% endif %}
      {% if settings.enable-fitting-guide %}
      <div class="notes">
        <a href="/pages/{{ settings.fitting-guide-link }}" class="fitting-guide"><span class="icon">{{ settings.fitting-guide-icon }}</span>{{ 'products.product.fitting_guide' | t }}</a>
      </div>
      {% endif %}
    </div>

    <div class="details {% if product.images.size > 1 %}border{% endif %} {% if product.variants.size == 1 and settings.display-product-quantity-option == false %}no-options{% endif %}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      <div class="module header">
        <h1 itemprop="name" class="title">{{ product.title }}</h1>

        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
          <p class="price sale"><span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span> <span class="money" itemprop="price">{{ product.selected_or_first_available_variant.price | money }}</span></p>
        {% else %}
          <p class="price"><span class="money" itemprop="price">{{ product.selected_or_first_available_variant.price | money }}</span></p>
        {% endif %}
      </div>

      <div class="module options {% unless product.available %}unavailable{% endunless %}">

        {% if product.available %} <!-- If the product is available then... -->
        <link itemprop="availability" href="http://schema.org/InStock" />
        <form class="product-form" id="product-form" action="/cart/add" method="post">
           
          {% if product.variants.size > 1 or product.variants.first.title != "Default Title" %} <!-- Create a variants dropdown IF the product has more than one variant -->

            <select name="id" id="product-select-{{ product.id }}" class="product-select">
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
              
              <label for="quantity">Qty: </label>
           <input min="1" type="number" id="quantity" name="quantity" value="1" />
           <style>#quantity { padding:5px; width:35px; border: 1px solid #555; }</style>
            </select>

          {% else %} <!-- If the product only has one variant, create a hidden input with the variant id. NOTE: Necessary for "add to cart" to work -->

            <input type="hidden" name="id" class="product-select" value="{{ product.selected_or_first_available_variant.id }}" data-variant-title="{{ product.selected_or_first_available_variant.title }}" />

          {% endif %}

          {% if settings.display-product-quantity-option %}
            <div class="selector-wrapper quantity">
              <label>{{ 'general.quantity' | t }}</label>
              <input type="text" class="product-quantity field" name="quantity" value="1">
            </div>
          {% else %}
            <input type="hidden" name="quantity" value="1">
          {% endif %}

          <div class="selector-wrapper submit-wrapper">
            {% if product.options.size > 1 %}<label></label>{% endif %}<input type="submit" class="action-button submit" value="{{ 'products.product.add_to_cart' | t }}">
          </div>

        </form>
        {% else %}

          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          <span class="action-button unavailable disabled">{{ 'products.product.sold_out' | t }}</span>

        {% endif %}

      </div>
      
      <div class="module share-buttons">

        <div class="share-wrap twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ product.title }}:" data-via="{{ settings.twitter-username }}">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div><div class="share-wrap google">
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>

          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div><div class="share-wrap pinterest">
          <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'original' }}&description={{ product.title | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
          <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        </div><div class="share-wrap facebook">
          <div class="fb-like" data-href="{{ shop.url }}{{ product.url }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
        </div>

      </div>

      {% if product.description.size > 0 %}
      <div class="module description">
        <div class="rte" itemprop="description">{{ product.description | split: '<!-- description -->' | first }}</div>
      </div>
      {% endif %}

    </div>
    <div class="clearfix"></div>
    <div class="more_details">
    	{{ product.description | split: '<!-- description -->' | last }}
    </div>

  </section>

  <!-- Wear With -->
  
  {% include 'wear-with' %}

</section>

{% if settings.display-fullsize-product-viewer %}
<section class="fullscreen-product-viewer">
  <div class="modal">
    <div class="modal-wrap">
      <span class="close">v</span>
      <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
        <div class="container">
          <div class="wrap">
            <img alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | product_img_url: 'original' }}">
            <span class="overlay"></span>
          </div>
        </div>
      </div>

      {% if product.images.size > 1 %}
      <div class="pager antiscroll-wrap">
        <div class="antiscroll-inner">
          {% for image in product.images %}
            <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
              <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
              <span class="overlay"></span>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<script>
  Theme.products["{{ product.id }}"] = {{ product | json }};
  Theme.products["{{ product.id }}"].firstVariant = {{ product.selected_or_first_available_variant.id | json }};
</script>
