<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% elsif template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width" />
  <link href="{{ 'favicon.ico' | asset_url }}" rel="shortcut icon" />

  <!-- Theme CSS
  ///////////////////////////////////////// -->
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  
  <!-- Custom CSS -->
  
  {{ 'custom.min.css' | asset_url | stylesheet_tag }}
  
  <!-- Typekit -->
  
  <script src="https://use.typekit.net/bzk2ggv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <style>
    {{ settings.custom-css }}
  </style>
  
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','//connect.facebook.net/en_US/fbevents.js');

  fbq('init', '102814760097052');
  fbq('track', "PageView");</script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=102814760097052&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  {% include 'social-meta' %}
  {% include 'theme-options' %}

  {{ content_for_header }}

{% include 'sca-quick-view-init' %}
 </head>

{% assign showSectionHeaders = false %}
{% if settings.show-section-headers %} {% assign showSectionHeaders = true %} {% endif %}

<body class="{% if settings.center-header %}header-centered{% endif %} {% if template contains 'contact' %}template-contact{% else %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %} {% unless showSectionHeaders %}disable-headers{% endunless %} {% if settings.meta-font == "'Open Sans' sans-serif" %}font-open-sans{% endif %} {% if settings.main-title-uppercase %}uppercase{% endif %} {% unless settings.ajax %}no-ajax{% endunless %}">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <div class="primary_canvas content-area">
    {% include 'header' %}

    {% if template contains 'product' %}
      {% include 'breadcrumbs' %}
    {% endif %}

    {% unless template contains 'collections' %}
      {{ content_for_layout }}
    {% else %}
      {% include 'collections' %}
    {% endunless %}

    {% include 'footer' %}
  </div>

  {% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains '404' or template contains 'search' %}
  <section class="quick-shop">

    <div class="quick-shop-modal">
      <!-- Content dynamically added -->
    </div>

  </section>
  {% endif %}
  
  <!-- Jquery -->
  
  <script src="{{ 'jquery-1.9.min.js' | asset_url }}"></script>
  
  <!-- Fonts
  ///////////////////////////////////////// -->

  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>

    var googleFonts = [];

    {% assign font = "'PT Serif', 'Times New Roman', Times, serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('PT+Serif:400,700,400italic,700italic');
    {% endif %}

    {% assign font = "'Raleway', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Raleway:400,700,600');
    {% endif %}

    {% assign font = "'Open Sans', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Open+Sans:400italic,600italic,700italic,400,700,600');
    {% endif %}

    {% assign font = "'Source Sans Pro', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Source+Sans+Pro:400,600,700,400italic,600italic,700italic');
    {% endif %}

    {% assign font = "'Arvo', serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Arvo:400,700,400italic,700italic');
    {% endif %}

    if (googleFonts.length) {
      WebFont.load({
        google: {
          families: googleFonts
        }
      });
    }

  </script>

  <!-- Third party JS Assets
  ///////////////////////////////////////// -->
  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}

  {{ "option_selection.js"  | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.show-currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'site.js' | asset_url | script_tag }}
  
  <!-- Custom JS -->
  
  {{ 'custom.min.js' | asset_url | script_tag }}
  
  <!-- Mad Mimi JS -->
  
  {{ 'madmimi.js' | asset_url | script_tag }}

{% include 'sca-quick-view-template' %} 
 {% if product %}
<script>
  var boosterParams = boosterParams || {};
  boosterParams.customer = {};
  boosterParams.product = {{ product | json }};
  {% if  customer %}
    boosterParams.customer.email = "{{ customer.email }}";
  {% endif %}
</script>
{% endif %}

</body>
</html>
