<script type="text/javascript">
    var upsellParamsDiff = upsellParamsDiff || {};
    upsellParamsDiff.templatesVersion = 2;
    if (!window.jQuery) document.write("<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'><\/script>");
</script>
<script type="text/javascript" src="//8upsell.s3.amazonaws.com/shopify/store/98962999d35b2fe61e8a13b7ec69f17d.js"></script>
<script type="text/javascript">
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === "undefined") {
        document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
    }
    var permanent_domain = "{{shop.permanent_domain}}";
    var upsellCurrency = "{{shop.money_format | strip_html}}";
    if (typeof(Shopify.SpuritUpsellProducts) !== 'undefined') {
        Shopify.SpuritUpsellProducts.currentDate = '{{ "now" | date: "%Y,%m,%d" }}';
    }
</script>