<article id="article-{{ article.id }}" class="article clearfix {% include 'for-looper' %}">

  <!-- Article meta
  ============================================= -->
  <ul class="meta">

    <!-- Title for mobile -->
    <li class="title">
      {% if template == 'blog' %}<a href="{{ article.url }}">{% endif %}
        {{ article.title }}
      {% if template == 'blog' %}</a>{% endif %}
    </li>

    <!-- Date -->
    <li class="date">
      <label>{{ article.published_at | date: format: 'short_month' }}</label>
    </li>

    <!-- Author -->
    <li class="author">
      {% if article.user.email.size > 0 %}
      <div class="avatar-wrap">
        {% if article.user.homepage.size > 0 %}<a href="{{ article.user.homepage }}">{% endif %}
        <img alt="{{ 'blogs.article_item.post_author' | t }}" class="avatar" src="//www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
        {% if article.user.homepage.size > 0 %}</a>{% endif %}
      </div>
      {% endif %}
      <label>{{ 'blogs.article_item.written_by' | t }}</label>
      <span class="text">{{ article.user.name }}</span>
    </li>

    {% if article.tags.size > 0 %}
    <!-- Author -->
    <li class="tags">
      <label>{{ 'blogs.article_item.filed_under' | t }}</label>
      <span class="text">
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
        {% endfor %}
      </span>
    </li>
    {% endif %}

    {% if article.comments_enabled? and article.comments.size > 0 and template == 'blog' %}
    <!-- Comments -->
    <li class="comments">
      <label>{{ 'blogs.article_item.discussion' | t }}</label>
      <span class="text"><a href="{{ article.url }}#comments">{{ article.comments_count }} {{ 'blogs.article_item.comment_count' | t: count: article.comments_count }}</a></span>
    </li>
    {% endif %}

    {% if blog.next_article or blog.previous_article %}
    <!-- Pagination -->
    <li class="prev-next-post">
      <label>
        {% if blog.previous_article %}<a class="previous" href="{{ blog.previous_article }}"><span class="label">{{ 'general.pagination.previous' | t }}</span><span class="icon">x</span></a>{% endif %}
        {% if blog.next_article and blog.previous_article %} <span class="slash">/</span> {% endif %}
        {% if blog.next_article %}<a class="next" href="{{ blog.next_article }}"><span class="label">{{ 'general.pagination.next' | t }}</span><span class="icon">z</span></a>{% endif %}
      </label>
    </li>
    {% endif %}

    {% if template == 'article' %}
    <!-- Share options -->
    <li class="share-buttons">
      <div class="share-wrap twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ article.title }}:" data-via="{{ settings.twitter-username }}">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <div class="share-wrap google">
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>

      <div class="share-wrap facebook">
        <div class="fb-like" data-href="{{ shop.url }}{{ article.url }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
      </div>

      {% if article.image %}
        <a data-pin-do="buttonPin" href="//www.pinterest.com/pin/create/button/?media={{ article.image | img_url: '1024x1024' }}"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
      {% endif %}
    </li>
    {% endif %}

  </ul>

  <!-- Article content
  ============================================= -->
  <div class="article-content">

    <!-- Article title -->
    <header class="title">
      <h1>
        {% if template == 'blog' %}<a href="{{ article.url }}">{% endif %}
          {{ article.title }}
        {% if template == 'blog' %}</a>{% endif %}
      <h1>
    </header>

    <!-- Article text -->
    <div class="rte clearfix">
      {% if article.image %}
        <div class="article-image">
          {% if template == 'article' %}
            <img src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.title }}">
          {% else %}
            <a href="{{ article.url }}">
              <img src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.title }}">
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if template == 'article' %}
        {{ article.content }}
      {% elsif settings.display-excerpts != true %}
        {{ article.content }}
      {% elsif settings.display-excerpts and article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 50 }}</p>
        <a href="{{ article.url }}">{{ 'blogs.article_item.continue_reading' | t }}</a>
      {% endif %}
    </div>

    {% if template == 'article' %}

      <!-- MOBILE: Article meta
      ============================================= -->
      <ul class="meta mobile clearfix">

        <!-- Author -->
        <li class="author">
          {% if article.user.email.size > 0 %}
          <div class="avatar-wrap">
            {% if article.user.homepage.size > 0 %}<a href="{{ article.user.homepage }}">{% endif %}
            <img alt="{{ 'blogs.article_item.post_author' | t }}" class="avatar" src="//www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
            {% if article.user.homepage.size > 0 %}</a>{% endif %}
          </div>
          {% endif %}
          <label>{{ 'blogs.article_item.written_by' | t }}</label>
          <span class="text">{{ article.user.name }}</span>
        </li>
        {% if article.tags.size > 0 %}

        <!-- Tags -->
        <li class="tags">
          <label>{{ 'blogs.article_item.filed_under' | t }}</label>
          <span class="text">
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
            {% endfor %}
          </span>
        </li>
        {% endif %}

        <!-- Share options -->
        <li class="share-buttons">
          <div class="share-wrap twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ article.title }}:" data-via="{{ settings.twitter-username }}">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div><div class="share-wrap google">
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>

            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </div><div class="share-wrap facebook">
            <div class="fb-like" data-href="{{ shop.url }}{{ article.url }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
          </div>
        </li>

      </ul>

      {% if article.comments_enabled? %}

      <!-- Display comments
      ============================================= -->
      <div class="comments-wrap read {% if article.comments_count == 0 %}no-comments{% endif %}" id="comments">

        <!-- Section title -->
        <h2 class="title">
          {% capture comment_count %}
            {% if comment and comment.created_at %}
              <span class="count">({{ article.comments_count | plus: 1 }})</span>
            {% else %}
              <span class="count">({{ article.comments_count }})</span>
            {% endif %}
          {% endcapture %}
          {{ 'blogs.article_item.comments_html' | t: comment_count: comment_count }}
        </h2>

        <!-- List of comments -->
        {% if article.comments_count > 0 %}
        <ul class="comments">

          <!-- Temporary comment on initial submit -->
          {% if comment and comment.created_at %}
          <li class="comment" id="comment-{{ comment.id }}">
            <a href="{{ comment.url }}" class="date">{{ comment.created_at | date: format: 'short_month' }}</a>
            <p class="body">{{ comment.content }}</p>
            <p class="author">— {{ comment.author }}</p>
          </li>
          {% endif %}

          <!-- List of comments -->
          {% for comment in article.comments %}
          <li class="comment {% include 'for-looper' %}" id="comment-{{ comment.id }}">
            <a href="{{ comment.url }}" class="date">{{ comment.created_at | date: format: 'short_month' }}</a>
            <div class="body">{{ comment.content }}</div>
            <p class="author">— {{ comment.author }}</p>
          </li>
          {% endfor %}

        </ul>
        {% endif %}

      </div>

      <!-- Submit comments
      ============================================= -->
      <div class="comments-wrap submit">

        <!-- Section title -->
        <h2 class="title">{{ 'blogs.article_item.leave_comment' | t }}</h2>

        {% form article %}

          {% if form.errors %}
            <div class="error-message"><span>{{ 'blogs.article_item.error_message' | t }}</span></div>
          {% endif %}

          <div class="field-wrap author">
            <label>{{ 'general.name' | t }}</label>
            <input type="text" placeholder="{{ 'general.name_placeholder' | t }}" value="" name="comment[author]" class="field {% if form.errors contains "author" %}error{% endif %}">
          </div>

          <div class="field-wrap email">
            <label>{{ 'general.email' | t }}</label>
            <input type="text" placeholder="{{ 'general.email_placeholder' | t }}" value="" name="comment[email]" class="field {% if form.errors contains "email" %}error{% endif %}">
          </div>

          <div class="field-wrap body">
            <label>{{ 'general.message' | t }}</label>
            <textarea name="comment[body]" class="field {% if form.errors contains "body" %}error{% endif %}"></textarea>
          </div>

          <input type="hidden" class="comment-check" value="" />
          <input type="submit" class="action-button submit-button" value="{{ 'general.submit' | t }}">

        {% endform %}
      </div>
      {% endif %}
    {% endif %}

  </div>
</article>
