<header class="main-header-wrap">

  <section class="main-header">

    <!-- Action links
    ============================================= -->
    <div class="action-links clearfix">
      
      {% assign heading = 'h2' %}
      {% if template == 'index' or template contains 'customers' %}
        {% assign heading = 'h1' %}
      {% endif %}
      
      <{{ heading }} class="store-title">
        {% if settings.use-logo %}
          <a href="/">
            <img alt="{{ shop.name }} logo" class='regular-logo' src="{{ 'logo.png' | asset_url }}" alt="{{ shop.description | escape }}">
            <img alt="{{ shop.name }} logo" class='retina-logo' src="{% if settings.use-retina-logo %}{{ 'logo-retina.png' | asset_url }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}" alt="{{ shop.description | escape }}">
          </a>
        {% else %}
          {{ shop.name | link_to: '/' }}
        {% endif %}
      </{{ heading }}>
        
      <div class="right_navigation">

        <div class="tools clearfix">
          <div class="tools-left">
            {% if settings.show-currency-switcher %}
              <div class="select-wrapper currency-switcher">
                <div class="selected-currency"></div><span class="drop-arrow"><</span>
                <select id="currencies" name="currencies">
                  {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                  {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
                  <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                  {% for code in supported_codes %}
                    {% if code != shop.currency and codes contains code %}
                    <option value="{{ code }}">{{ code }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            {% endif %}

            <a class="search" href="#"><span class="icon">s</span><label>{{ 'general.search_placeholder' | t }}</label></a>
          </div>

          <div class="tools-right">
            <div class="mini-cart-wrap" href="#">
              <span class="icon">c</span><label><span class="item-count">{{ cart.item_count }}</span> {{ 'layout.header.item_count' | t: count: cart.item_count }}</label>
              <div class="mini-cart {% if shop.customer_accounts_enabled %}account-enabled{% endif %} {% if cart.items.size == 0 %}empty-cart{% endif %}">
                <div class="arrow"></div>
                <div class="mini-cart-items-wrap">

                    <p class="no-items">{{ 'layout.header.no_items' | t }}</p>

                    {% for item in cart.items %}
                    <div id="item-{{ item.id }}" class="item clearfix">
                      <div class="image-wrap">
                        <img alt="{{ item.product.title }}" src="{{ item | img_url: 'small' }}">
                        <a class="{% if settings.product-image-borders %}overlay{% endif %}" href="{{ item.url }}"></a>
                      </div>
                      <div class="details">
                        <p class="brand">{{ item.vendor | link_to_vendor }}</p>
                        <p class="title"><a href="{{ item.url }}">{{ item.product.title }}</a><span class="quantity">× <span class="count">{{ item.quantity }}</span></span></p>
                        <p class="price"><span class="money">{{ item.line_price | money }}</span></p>
                        {% unless item.variant.title == 'Default Title' %}<p class="variant">{{ item.variant.title }}</p>{% endunless %}
                        {% if item.properties %}
                          {% for property in item.properties %}
                            {% unless property.last == blank %}
                              <p class="property">
                                <span class="property-label">{{ property.first }}:</span>
                                {% if property.last contains '/uploads/' %}
                                  <a class="property-image" href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                {% else %}
                                  <span class="property-value">{{ property.last }}</span>
                                {% endif %}
                              </p>
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="options clearfix">
                  <a class="action-button view-cart desaturated" href="/cart">{{ 'layout.header.view_cart' | t }}</a>
                  <a class="action-button checkout" href="/checkout">{{ 'layout.header.checkout' | t }}</a>
                </div>
              </div>
            </div>

            {% if shop.customer_accounts_enabled %}

              {% if customer %}
                <a class="account-options" href="/account"><span class="icon">a</span><label>{{ 'general.account' | t }}</label></a>
              {% else %}
                <a class="account-options" href="/account/login">
                  <span class="icon">a</span>{{ 'layout.header.login' | t }}
                </a>
              {% endif %}

            {% endif %}
          </div>
        </div>
        
        <!-- Full navigation
        ============================================= -->
        <nav class="full {% unless template == 'index' and settings.show-slideshow == true and settings.slideshow-match-width == false %}bordered{% endunless %} {{ settings.mobile-navigation-colour-scheme }}">

          <!-- Main nav
          ++++++++++++++++++++++++++++ -->
          <ul>

            {% for link in linklists.main-menu.links %}<li class="nav-item {% include 'for-looper' %} {% if link.title == 'Catalog' and settings.enable-mega-nav %}has-mega-nav{% endif %} {% capture link_handle %}{{ link.title | handle }}{% endcapture %}  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}dropdown{% endif %}">

              {% capture link_title %}
                {% if link.title == 'Catalog' and settings.catalog-label-override.size > 0 %}
                  {{ settings.catalog-label-override }}
                {% else %}
                  {{ link.title }}
                {% endif %}
              {% endcapture %}

              {% assign meganav = false %}
              {% if link.title == 'Catalog' and settings.enable-mega-nav %} {% assign meganav = true %} {% endif %}

              {% assign dropdown = false %}
              {% if meganav == false and linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                {% if dropdown or meganav %}<span class="border"></span>{% endif %}
                <a class="label" href="{{ link.url }}">{{ link_title }}{% if dropdown or meganav %}<span class="icon"><</span>{% endif %}</a>

                {% if dropdown %}

                  <!-- Simple dropdown: primary
                  ++++++++++++++++++++++++++++ -->
                  <ul class="dropdown-wrap primary">
                    {% for link_primary in linklists[link_handle].links %}

                      {% capture link_handle_primary %}{{ link_primary.title | handle }}{% endcapture %}
                      {% assign dropdown = false %}
                      {% if linklists[link_handle_primary] and linklists[link_handle_primary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                      <li class="dropdown-item {% include 'for-looper' %}">
                        <a href="{{ link_primary.url }}"><span class="label">{{ link_primary.title }}</span>{% if dropdown %}<span class="icon">></span>{% endif %}</a>

                        {% if dropdown %}

                          <!-- Simple dropdown: secondary
                          ++++++++++++++++++++++++++++ -->
                          <ul class="dropdown-wrap child secondary right">
                            {% for link_secondary in linklists[link_handle_primary].links %}

                              {% capture link_handle_secondary %}{{ link_secondary.title | handle }}{% endcapture %}
                              {% assign dropdown = false %}
                              {% if linklists[link_handle_secondary] and linklists[link_handle_secondary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                              <li class="dropdown-item {% include 'for-looper' %}">
                                <a href="{{ link_secondary.url }}"><span class="label">{{ link_secondary.title }}</span>{% if dropdown %}<span class="icon">></span>{% endif %}</a>

                                {% if dropdown %}

                                  <!-- Simple dropdown: tertiary
                                  ++++++++++++++++++++++++++++ -->
                                  <ul class="dropdown-wrap child tertiary right">
                                    {% for link_tertiary in linklists[link_handle_secondary].links %}
                                      <li class="dropdown-item {% include 'for-looper' %}"><a href="{{ link_tertiary.url }}"><span class="label">{{ link_tertiary.title }}</span></a></li>
                                    {% endfor %}
                                  </ul>
                                  <!-- ++++++++++++++++++++++++++++ -->

                                {% endif %}
                              </li>

                            {% endfor %}
                          </ul>
                          <!-- ++++++++++++++++++++++++++++ -->

                        {% endif %}
                      </li>

                    {% endfor %}
                  </ul>
                  <!-- ++++++++++++++++++++++++++++ -->

                {% endif %}
            </li>{% endfor %}
          </ul>
          <!-- ++++++++++++++++++++++++++++ -->

        </nav>
          
      </div>

    </div>

    <div class="search-wrap full">
      <form action="/search" method="get">
        <input class="search-input" name="q" type="text" placeholder="{{ 'general.search_placeholder' | t }}" value="">
        <span class="icon">s</span>
      </form>
    </div>


    <!-- Compact navigation
    ============================================= -->
    <nav class="compact {% unless template == 'index' and settings.show-slideshow == true and settings.slideshow-match-width == false %}bordered{% endunless %} {{ settings.mobile-navigation-colour-scheme }} {% if shop.customer_accounts_enabled %}account-enabled{% endif %} {% if settings.show-currency-switcher %}currency-enabled{% endif %}">
      <ul>
        <li class="nav-item dropdown first">
          <span class="border"></span>
          <div><span class="icon">n</span></div>
        </li>{% if settings.show-currency-switcher %}<li class="nav-item currency">
          <div class="select-wrapper currency-switcher">
            <div class="selected-currency"></div><span class="drop-arrow"><</span>
            <select id="currencies" name="currencies">
              {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
              {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
              <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
              {% for code in supported_codes %}
                {% if code != shop.currency and codes contains code %}
                <option value="{{ code }}">{{ code }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </li>{% endif %}{% if shop.customer_accounts_enabled %}<li class="nav-item account">
          <a href="/account"><span class="icon">a</span></a>
        </li>{% endif %}<li class="nav-item cart">
          <a href="/cart">
            <span class="icon">c{% if cart.item_count > 0 %}<div class="count"><span>{{ cart.item_count }}</span></div>{% endif %}</span>
          </a>
        </li><li class="nav-item last search">
          <div><span class="icon">s</span></div>
        </li><li class="search-outer-wrap">
          <div class="search-wrap">
            <form action="/search" method="get">
              <input class="search-input" name="q" type="text" placeholder="{{ 'general.search_placeholder' | t }}" value="">
              <span class="icon">s</span>
            </form>
          </div>
        </li>
      </ul>
    </nav>

  </section>

  <!-- Mobile navigation
  ============================================= -->
  <section class="mobile-dropdown {{ settings.mobile-navigation-colour-scheme }}">
    <ul class="list primary">
      {% for link in linklists.main-menu.links %}

        {% capture link_handle %}{{ link.title | handle }}{% endcapture %}

        {% capture link_title %}
          {% if link.title == 'Catalog' and settings.catalog-label-override.size > 0 %}
            {{ settings.catalog-label-override }}
          {% else %}
            {{ link.title }}
          {% endif %}
        {% endcapture %}

        {% assign meganav = false %}
        {% if link.title == 'Catalog' and settings.enable-mega-nav %} {% assign meganav = true %} {% endif %}

        {% assign dropdown = false %}
        {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign dropdown = true %} {% endif %}

        <li class="list-item {% include 'for-looper' %} {% if meganav or dropdown %}dropdown{% endif %}">
          <a href="{{ link.url }}">{{ link_title }}{% if meganav or dropdown %}<span class="icon"></span>{% endif %}</a>

          {% if meganav %}

            <ul class="list secondary">

              {% if linklists[settings.meganav-list-1].title.size > 0 %}
                <li class="list-item dropdown">
                  <a href="{{ linklists[settings.meganav-list-1].url }}">{{ linklists[settings.meganav-list-1].title }}<span class="icon"></span></a>
                  <ul class="list tertiary">
                    {% for link_tertiary in linklists[settings.meganav-list-1].links %}

                      {% assign dropdown = false %}
                      {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                      {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}

                      <li class="list-item {% if dropdown %}dropdown{% endif %}">
                        <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>

                        {% if dropdown %}
                        <ul class="list quaternary">
                          {% for link_quaternary in linklists[link_handle_tertiary].links %}
                            <li class="list-item">
                              <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                        {% endif %}

                      </li>

                    {% endfor %}
                  </ul>
                </li>
              {% endif %}

              {% if linklists[settings.meganav-list-2].title.size > 0 %}
                <li class="list-item dropdown">
                  <a href="{{ linklists[settings.meganav-list-2].url }}">{{ linklists[settings.meganav-list-2].title }}<span class="icon"></span></a>
                  <ul class="list tertiary">
                    {% for link_tertiary in linklists[settings.meganav-list-2].links %}

                      {% assign dropdown = false %}
                      {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                      {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}

                      <li class="list-item {% if dropdown %}dropdown{% endif %}">
                        <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>

                        {% if dropdown %}
                        <ul class="list quaternary">
                          {% for link_quaternary in linklists[link_handle_tertiary].links %}
                            <li class="list-item">
                              <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                        {% endif %}

                      </li>

                    {% endfor %}
                  </ul>
                </li>
              {% endif %}

              {% if linklists[settings.meganav-list-3].title.size > 0 %}
                <li class="list-item dropdown">
                  <a href="{{ linklists[settings.meganav-list-3].url }}">{{ linklists[settings.meganav-list-3].title }}<span class="icon"></span></a>
                  <ul class="list tertiary">
                    {% for link_tertiary in linklists[settings.meganav-list-3].links %}

                      {% assign dropdown = false %}
                      {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                      {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}

                      <li class="list-item {% if dropdown %}dropdown{% endif %}">
                        <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>

                        {% if dropdown %}
                        <ul class="list quaternary">
                          {% for link_quaternary in linklists[link_handle_tertiary].links %}
                            <li class="list-item">
                              <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                        {% endif %}

                      </li>

                    {% endfor %}
                  </ul>
                </li>
              {% endif %}

            </ul>

          {% endif %}

          {% if dropdown %}

            <ul class="list secondary">
              {% for link_secondary in linklists[link_handle].links %}

                {% capture link_handle_secondary %}{{ link_secondary.title | handle }}{% endcapture %}
                {% assign dropdown = false %}
                {% if linklists[link_handle_secondary] and linklists[link_handle_secondary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                <li class="list-item {% if dropdown %}dropdown{% endif %}">
                  <a href="{{ link_secondary.url }}">{{ link_secondary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>

                  {% if dropdown %}

                    <ul class="list tertiary">
                      {% for link_tertiary in linklists[link_handle_secondary].links %}

                        {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                        {% assign dropdown = false %}
                        {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                        <li class="list-item {% if dropdown %}dropdown{% endif %}">
                          <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }} {% if dropdown %}<span class="icon"></span>{% endif %}</a>

                          {% if dropdown %}

                            <ul class="list quaternary">
                              {% for link_quaternary in linklists[link_handle_tertiary].links %}
                                <li class="list-item">
                                  <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>

                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>

                  {% endif %}

                </li>

              {% endfor %}
            </ul>

          {% endif %}

        </li>

      {% endfor %}
    </ul>
  </section>

  {% if settings.enable-mega-nav %}
  {% assign limit = settings.meganav-limit | times: 1 %}
  {% assign columnCount = 0 %}

  {% if linklists[settings.meganav-list-1].title.size > 0 %}
    {% assign columnCount = columnCount | plus: 1 %}
  {% endif %}

  {% if linklists[settings.meganav-list-2].title.size > 0 %}
    {% assign columnCount = columnCount | plus: 1 %}
  {% endif %}

  {% if linklists[settings.meganav-list-3].title.size > 0 %}
    {% assign columnCount = columnCount | plus: 1 %}
  {% endif %}

  <!-- Mega navigation
  ============================================= -->
  <section class="mega-nav {{ settings.mobile-navigation-colour-scheme }}">
    <div class="mega-nav-wrap content-area">

        <!-- Main mega list
        ++++++++++++++++++++++++++++ -->
        <ul class="main-list mega-nav-list clearfix">
          {% if linklists[settings.meganav-list-1].title.size > 0 %}
          <li class="list first clearfix">

            <h2 class="label">
              {{ linklists[settings.meganav-list-1].title }}
            </h2>
            <ul data-list="{{ linklists[settings.meganav-list-1].handle }}" class="list-wrap">
              {% for link in linklists[settings.meganav-list-1].links %}

                {% if forloop.index < limit or columnCount == 1 %}
                  {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                  {% assign hasCategory = false %}
                  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                  <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                {% elsif forloop.index == limit %}
                  <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">{{ 'layout.header.more' | t }}</a></li>
                {% endif %}

              {% endfor %}
            </ul>

          </li>{% endif %}{% if linklists[settings.meganav-list-2].title.size > 0 %}<li class="list clearfix">

              <h2 class="label">
                {{ linklists[settings.meganav-list-2].title }}
              </h2>
              <ul data-list="{{ linklists[settings.meganav-list-2].handle }}" class="list-wrap">
                {% for link in linklists[settings.meganav-list-2].links %}

                  {% if forloop.index < limit %}
                    {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                    {% assign hasCategory = false %}
                    {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                    <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                  {% elsif forloop.index == limit %}
                    <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">{{ 'layout.header.more' | t }}</a></li>
                  {% endif %}

                {% endfor %}
              </ul>

          </li>{% endif %}{% if linklists[settings.meganav-list-3].title.size > 0 %}<li class="list clearfix">

            <h2 class="label">
              {{ linklists[settings.meganav-list-3].title }}
            </h2>
            <ul data-list="{{ linklists[settings.meganav-list-3].handle }}" class="list-wrap">
              {% for link in linklists[settings.meganav-list-3].links %}

                {% if forloop.index < limit %}
                  {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                  {% assign hasCategory = false %}
                  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                  <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                {% elsif forloop.index == limit %}
                  <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">{{ 'layout.header.more' | t }}</a></li>
                {% endif %}

              {% endfor %}
            </ul>

          </li>{% endif %}
        </ul>

        <!-- Expanded mega list
        ++++++++++++++++++++++++++++ -->
        <ul class="expanded-list mega-nav-list clearfix">

          {% if settings.meganav-list-1 != 'none' %}<li class="back"></li><li data-list="{{ linklists[settings.meganav-list-1].handle }}" class="list {% include 'for-looper' %} clearfix">

            <h2 class="label">{{ linklists[settings.meganav-list-1].title }}</h2>
            <ul class="list-wrap">
              {% for link in linklists[settings.meganav-list-1].links %}

                {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                {% assign hasCategory = false %}
                {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                <li class="list-item">
                  <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                </li>

              {% endfor %}
            </ul>

          </li>{% endif %}{% if settings.meganav-list-2 != 'none' %}<li data-list="{{ linklists[settings.meganav-list-2].handle }}" class="list {% include 'for-looper' %} clearfix">

            <h2 class="label">{{ linklists[settings.meganav-list-2].title }}</h2>
            <ul class="list-wrap">
              {% for link in linklists[settings.meganav-list-2].links %}

                {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                {% assign hasCategory = false %}
                {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                <li class="list-item">
                  <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                </li>

              {% endfor %}
            </ul>

          </li>{% endif %}{% if settings.meganav-list-3 != 'none' %}<li data-list="{{ linklists[settings.meganav-list-3].handle }}" class="list {% include 'for-looper' %} clearfix">

            <h2 class="label">{{ linklists[settings.meganav-list-3].title }}</h2>
            <ul class="list-wrap">
              {% for link in linklists[settings.meganav-list-3].links %}

                {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                {% assign hasCategory = false %}
                {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                <li class="list-item">
                  <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                </li>

              {% endfor %}
            </ul>

          </li>{% endif %}

        </ul>

        <!-- Category mega list
        ++++++++++++++++++++++++++++ -->
        <ul class="category-list mega-nav-list clearfix">

          <li class="back"></li>

          {% assign first = true %}
          {% for link in linklists[settings.meganav-list-1].links %}

            {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
            {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}

              <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                <h2 class="label">{{ linklists[settings.meganav-list-1].title }} / {{ linklists[link_handle].title }}</h2>
                <ul class="list-wrap">
                  {% for link_child in linklists[link_handle].links %}
                    <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% assign first = false %}

            {% endif %}
          {% endfor %}

          {% assign first = true %}
          {% for link in linklists[settings.meganav-list-2].links %}

            {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
            {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}

              <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                <h2 class="label">{{ linklists[settings.meganav-list-2].title }} / {{ linklists[link_handle].title }}</h2>
                <ul class="list-wrap">
                  {% for link_child in linklists[link_handle].links %}
                    <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% assign first = false %}

            {% endif %}
          {% endfor %}

          {% assign first = true %}
          {% for link in linklists[settings.meganav-list-3].links %}

            {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
            {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}

              <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                <h2 class="label">{{ linklists[settings.meganav-list-3].title }} / {{ linklists[link_handle].title }}</h2>
                <ul class="list-wrap">
                  {% for link_child in linklists[link_handle].links %}
                    <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% assign first = false %}

            {% endif %}
          {% endfor %}

        </ul>

    </div>
  </section>
  {% endif %}
</header>
