{% if settings.instagram-access-token != blank %}

  <section class="instagram-widget">
    {% if template == 'index' %}
    <h2 class="section-title"><a href="https://www.instagram.com/thefrocknyc/" target="_blank">{{ settings.instagram-title }}</a></h2>
    {% endif %}
    <div class="instagram-photos"></div>
  </section>

{% endif %}