<div class="frock_email_container">
  <h2>Subscribe to our emails</h2>
  <p><strong>So you won't miss a #Frock-ing thing.</strong></p>
  <form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/193019" id="ema_signup_form" method="post" target="_blank">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓"/>
    </div>
    <div class="mimi_field">
      <input id="signup_first_name" name="signup[first_name]" type="text" data-required-field="This field is required" placeholder="First Name"/>
    </div>
    <div class="mimi_field">
      <input id="signup_last_name" name="signup[last_name]" type="text" data-required-field="This field is required" placeholder="Last Name"/>
    </div>
    <div class="mimi_field required">
      <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="Email Address"/>
    </div>
    <div class="mimi_field">
      <input type="submit" class="submit" value="Sign Up" id="webform_submit_button" data-default-text="Sign Up" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!"/>
    </div>
  </form>
</div>