<li {% assign itemType = product %}{% if template contains 'search' %}{% assign itemType = item %}{% elsif template contains 'product' %}{% assign itemType = prod %}{% endif %} class="product product-{{ itemType.id }} {% include 'for-looper' %} {% cycle 'flush', '', '', '' %}">

  {% if settings.products-per-row == 'two' and template == 'collection' %}
    {% assign productImageSize = '1024x1024' %}
  {% else %}
    {% assign productImageSize = 'grande' %}
  {% endif %}

  <div class="product-inner">
    
    <figure>
      <img alt="{{ itemType.images[0].alt }}" src="{{ itemType.images[0] | product_img_url: productImageSize }}">

      <a href="{{ itemType.url }}" class="{% if settings.product-image-borders %}with-border{% endif %}"></a>

      {% if settings.enable-quick-shop %}
        <div class="overlay" data-id="{{ itemType.id }}">
          <span class="label">{{ 'collections.collection.quick_shop' | t }}</span>
        </div>
      {% endif %}
    </figure>
    
    <div class="frock_product_overlay">
      <h2 class="title"><a href="{{ itemType.url }}">{{ itemType.title }}</a></h2>
    </div>

    {% if settings.enable-quick-shop %}
      {% include 'product-quick-shop' %}
    {% endif %}
  </div>
</li>
