{% comment %}
  Build a list of this products 'Wear With' collections.
{% endcomment %}

{% assign product_collections_list = '' %}

{% for collection in product.collections %}
  {% if collection.title contains 'Wear With' %}
    {% assign product_collections_list = product_collections_list | append: collection.handle | append: ',' %}
  {% endif %}
{% endfor %}

{% comment %}
  Take the list and create an array of that data.
{% endcomment %}

{% assign complete_product_collections_list = product_collections_list | split: ',' %}

{% comment %}
  If the product has a 'Wear With' collection then loop through the collections
  and output their products. Don't output the current product or products that exist across
  multiple 'Wear With' collections.
{% endcomment %}

{% assign current_product_title = product.title %}

{% unless product_collections_list == blank %}

  {% assign used = product.title %}

  <section class="wear-with-products">
    
    <h2 class="section-title section-border">Wear With</h2>
    
    <ul class="product-list">

      {% comment %}
        Loop through each collection in the 'Wear With' collections for this product.
      {% endcomment %}

      {% for individual_collection_handle in complete_product_collections_list %}

        {% comment %}
          Loop through each product within an individual 'Wear With' collection.
          Don't output the current product or products that exist across multiple 'Wear With' collections.
        {% endcomment %}
        
        {% for prod in collections[individual_collection_handle].products %}

            {% unless used contains prod.title %}
              
              {% include 'product-item' %}

              {% capture used %}{{ used }} {{ prod.title }}{% endcapture %}

            {% endunless %}

        {% endfor %}

      {% endfor %}

    </ul>

  </section>

{% endunless %}