/*==================================
MEDIA QUERY MIXINS
==================================*/

@mixin mobile() {
    @media all and (max-width: 480px){
        @content;
    }
}

@mixin mobile_landscape() {
    @media all and (max-width: 568px) {
        @content;
    }
}

@mixin tablet() {
    @media all and (max-width: 768px){
        @content;
    }
}

@mixin tablet_landscape() {
    @media all and (max-width: 1024px){
        @content;
    }
}

@mixin desktop() {
    @media all and (min-width: 1280px){
        @content;
    }
}

/*==================================
CUSTOM GRID
==================================*/

/*=== Full Width Container ===*/

.fs_container {
    display: block;
    width: 80%;
    margin: 0 auto;
    
    img {
      display: block;
      width: 100%;
    }
}

/*=== Non Flexbox Grid (Fallback) ===*/

.fs_row {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

    .content {
        background: #e1e1e1;
        color: #fff;
        padding: 10px;
    }

    @include desktop {
        max-width: 100%;
    }
  
    img {
      display: block;
      width: 100%;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_6, .column_5_6 {
    margin: 0px 0px 10px;
    padding: 0px 10px;
    float: left;
    display: inline-block;
}

/*=== Flexbox Grid ===*/ 

.flexbox {

    .fs_row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0 auto;

        .content {
            background: #e1e1e1;
            color: #fff;
            padding: 10px;
        }

    }

    .column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_6, .column_5_6 {
        margin: 0px 0px 10px;
        padding: 0px 10px;
        float: left;
        display: inline-block;
    }

}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
        width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include mobile_landscape {
        width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
        width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
        width: 50%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
        width: 100%;
    }
}

.column_1_5 {
    width: 20%;

    @include tablet {
        display: none;
    }

}

.column_4_5 {
    width: 80%;

    @include tablet {
        width: 100%;
    }
}

.column_1_6 {
    width: 16.66%;

    @include tablet {
        display: none;
    }

}

.column_5_6 {
    width: 83.33%;

    @include tablet {
        width: 100%;
    }
}

/*====================
FONTS
====================*/

@font-face {
  font-family: 'sackers_gothic';
  src: url('SackersGothicStd-Medium.eot?#iefix') format('embedded-opentype'),  url('SackersGothicStd-Medium.otf')  format('opentype'),
         url('SackersGothicStd-Medium.woff') format('woff'), url('SackersGothicStd-Medium.ttf')  format('truetype'), url('SackersGothicStd-Medium.svg#SackersGothicStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, p, h1, h2, h3 {
    font-family: "futura-pt",sans-serif;
    font-weight: 300;
}

p, .rte p, .rte {
    font-size: 16px;
    line-height: 1.6em;
    color: #474747
}

.rte h1 {
    font-size: 25px;
  
    @include mobile_landscape {
      font-size: 20px;
    }
}

h1,h2,h3 {
  letter-spacing: 1px;
}

.uc-title, .main-header-wrap .main-header .store-title, .main-header-wrap .main-header .mini-cart .brand, .main-header nav.full .nav-item>.label, .mega-nav .list .label, .mobile-dropdown .list .list-item a, .main-footer .connect .title, .sidebar .module>label, .sidebar .recent-posts .date, .sidebar .tags-list .tag .count, .sidebar .twitter .date, .collections .collection .browse, .featured-collections .collection .browse, .product .overlay .label, .product .brand, .quick-shop-content .brand, #product-area .brand, .mobile-product-title .brand, .customer .header-link, .customer.account .title, .template-blog .articles .meta li label, .template-article .articles .meta li label, .template-article .articles .comments-wrap .title, .template-article .articles .comments-wrap.read .comment .date, .template-cart .table td.product-item .label.vendor, .template-index .slide .content .call-to-action, .template-index .article .date, .twitter-tweet .timestamp, .customer.order .order-history .table td.product-item .label.vendor, .template-page .sidebar .title, .template-contact .sidebar .title, .password-page-logo .store-title, #product-area .details .description .go-to-product, .quick-shop-content .details .description .go-to-product, .template-search .result.item-article .date, .template-search .result.item-product .details .brand {
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
}

.section-title {
    font-family: 'futura-pt', sans-serif;
    font-weight: 600;
    padding-top: 0px;
  
    a {
        color: #222;
    }
}

.rte a {
    font-size: inherit;
    line-height: 22px;
    color: #585251 !important;
}

.main-header-wrap .main-header .tools .currency-switcher, .main-header-wrap .main-header .tools .search, .main-header-wrap .main-header .tools .mini-cart-wrap, .main-header-wrap .main-header .tools .account-options {
    font-family: 'futura-pt', sans-serif;
}

/*====================
MAIN BODY
====================*/

body {
  color: #474747;
}

.primary_canvas.content-area {
    box-shadow: 0 0 40px rgba(0,0,0,0.05);
    padding: 0px 50px;
    max-width: 1140px;
    width: 100%;
}

.template-page .text-content-wrap, .template-contact .text-content-wrap {
  padding-top: 0px;
}

/*====================
HEADER
====================*/

.main-header-wrap .main-header {
    padding: 0px;
}

.main-header-wrap .main-header .store-title {
    width: 15%;
    padding: 0px;
  
    @media all and (max-width: 720px) {
        width: 150px;
        margin: 0 auto;
        float: none;
    }
}

.main-header-wrap .main-header .action-links {
    padding: 30px 0px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
  
    @media all and (max-width: 720px) {
        margin-bottom: 0px;
    }
}

/*=== Navigation ===*/

.right_navigation {
    overflow: auto;
    display: block;
    float: left;
    width: 85%;
    text-align: right;
}

.main-header-wrap .main-header .search-wrap {
    right: 0;
    min-width: 300px !important;
    margin-top: 30px !important;

    @include mobile_landscape {
        min-width: auto !important;
    }
}

.main-header-wrap .main-header .tools {
    position: relative;
    float: none;
    max-width: none;
    margin-top: 0px !important;
}

.main-header nav.bordered {
    border: 0;
    padding: 30px 0px;
}

.main-header nav.full .nav-item>.label {
    padding: 0px 30px;
    color: #999;
    font-size: 16px;
    letter-spacing: 5px;
}

.main-header nav.full .nav-item.last>.label {
    padding: 0px 0px 0px 30px;
}

.main-header nav.full .nav-item>.label:before {
 display: none; 
}

/*====================
HOMEPAGE
====================*/

/*=== Instagram Feed ===*/

a.instagram-photo {
    width: calc(25% - 10px);
    margin: 0px 5px 10px;
  
    @media all and (max-width: 720px) {
        width: calc(50% - 10px);
    }
}

/*====================
SHOP
====================*/

/*=== Filters ===*/

.frock_product_filter {
    background: rgba(0,0,0,.05);
    padding: 30px;
    text-align: center;
}

ul.filter_list li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    a {
      color: #999;
    }
}

/*=== Products ===*/

.product figure {
    position: relative;
    overflow: hidden;
}

.product figure>img {
    display: block;
    width: 100%;
}

.product-list .product-inner {
    position: relative;
}

.frock_product_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    
    h2 {
      font-family: 'futura-pt' !important;
      text-transform: none;
      font-size: 16px !important;
      padding: 0px 20px;
      letter-spacing: 1px;
      font-weight: 400 !important;
    }
  
    h2 a {
        color: #ffffff !important; 
    }
}

.product-list .product-inner:hover .frock_product_overlay {
    opacity: 1;  
}

/*====================
SINGLE PRODUCT
====================*/

.template-product #product-area {
    padding: 0px 0px;
}

.template-product .breadcrumb-navigation {
    display: none;
}

/*=== Product Images ===*/

#product-area .showcase .container {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

#product-area .pager {
    float: left;
    width: 100%;
    padding: 0px;
}

#product-area .pager .wrap.first {
    margin-top: 10px;
}

.wrap.thumb {
    width: 50px;
    float: left;
    margin: 0px 5px 0px 0px;
}

/*=== Product Title / Form ===*/

#product-area .details .header .title {
    font-size: 25px;
    margin: 0px 0 20px;
    line-height: 27px;
    font-family: 'sackers_gothic';
    font-weight: 300;   
}

.submit-wrapper input.action-button {
    border-radius: 0px;
    background: #272727;
    padding: 20px 50px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
  
    &:hover {
     opacity: .8; 
    }
}

/*=== More Product Details ===*/

.more_details {
    display: block;
    width: 100%;
    position: relative;
    padding: 50px 0px;
}

.more_details ul {
    list-style: disc;
    list-style-position: inside;
}

/*=== Wear With Products ===*/

.wear-with-products ul.product-list {
    display: flex;
    flex-flow: row wrap;
}

.wear-with-products .section-title {
    padding-top: 45px;
}

.product {
    width: 33.33%;
    margin-bottom: 30px;
}

/*====================
PAGE
====================*/

.template-page .text-content, .template-contact .text-content {
    width: 100%;
    padding-right: 0px;
}

.template-page .image-wrap {
    width: 100%;
    img {
      width: 100%;
    }
}

/*====================
ABOUT
====================*/

p.frock_quote {
    border-left: 1px solid #474747;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: "acta-display";
    color: #474747;
    line-height: 38px;
    text-rendering: optimizeLegibility;
}

span.quote_citation {
    display: block;
    font-size: 16px;
    float: right;
    font-family: 'futura-pt', sans-serif;
    margin-top: 10px;
}

/*====================
FAQ
====================*/

h1.frock_faq_header {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0px;
    color: #000;
    letter-spacing: 2px;
    font-size: 26px;
  
    &:first-child {
        margin-top: 0px;
    }
}

h2.frock_question {
    text-transform: uppercase;
    font-size: 20px;
    color: #222;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 0px 0px 20px;
}

.frock_answer {
  display: none;
}

/*====================
PRESS
====================*/

.rte.clearfix.text-content.press_page {
    display: flex;
    flex-flow: row wrap;
}

.press_page p {
    width: 50%;
    padding: 0px 10px;
  
    @include mobile_landscape {
        width: 100%;
    }
}

/*====================
EMAIL SIGNUP
====================*/

.frock_email_container {
    background: rgba(0,0,0,.05);
    padding: 50px;
    text-align: center;
    margin: 50px 0px;
  
    h2 {
        color: #000;
        text-transform: uppercase;
        font-size: 30px;
    }
  
    p {
        color: #000;
    }
}

.mimi_field input[type="text"], .mc-field-group input[type="text"], .mc-field-group input[type="email"] {
    background: #fff;
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 20px;
    width: 25%;
    border: 1px solid rgba(0,0,0,.12);
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    
    @include mobile_landscape {
      width: 100%;
      margin-bottom: 10px;
    }
}

.mimi_field input[type="submit"], .mc_embed_signup input[type="submit"] {
    background: #272727;
    color: #fff;
    padding: 20px;
    width: 20%;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
  
    @include mobile_landscape {
      width: 100%;
      margin-bottom: 10px;
    }

    &:hover {
      opacity: .8;
    }
}

.mce-responses {
    display: block;
    width: 100%;
    margin-top: 20px;
}

/*====================
FOOTER
====================*/

.main-footer {
    padding: 0px 0px 50px;
}

.main-footer .sub-footer {
    margin: 40px 0 0px;
}